{% extends 'base.html' %}
 {% block breadcrumb %}
       <ol> <li class="breadcrumb-item active">Mahmoud Rooms</li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>
<ol> <li class="breadcrumb-item active"></li></ol>

	    
       <ol> <li class="breadcrumb-item active"><a href="{% url 'about'  %}">About</a></li></ol>
	
              <ol><li class="breadcrumb-item active"><a href="{% url 'privacy_policy'  %}">Privacy Policy</a></li></ol>
	
    {% endblock %}
{% block content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Board</th>
            <th>Description</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <td>
                <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></td>
                <td> <small class="text-muted d-block">{{ board.description }}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}